@using SimpleBlog.Models.Authentication;
@using System.Net;
@model SignInModel

<form id="form-action"
	method="post"
	class="form-horizontal"
	role="form">

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            
            <label asp-for="Nickname" class="form-label"></label>
            <input type="text" asp-for="Nickname" class="form-control"/>
        </div>
    </div>

    @if (Model.Error.StatusCode == HttpStatusCode.NotFound)
    {
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p style="color: red">@Model.Error.Message</p>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
    </div>
    @if (Model.Error.StatusCode == HttpStatusCode.BadRequest)
    {
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
                <p style="color: red">@Model.Error.Message</p>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <input asp-controller="SignInByNickname"
                   asp-action="LogIn"
                   type="submit"
                   id="form-button"
                   class="btn btn-success"
                   value="Sign In" />

            <span class="mx-4">Or</span>

            <input asp-controller="SignInByNickname"
                   asp-action="LogInByEmail"
                   type="submit"
                   style="background-color: white; color: forestgreen"
                   id="form-button"
                   class="btn btn-success"
                   value="Sign In By Email"/>
        </div>
    </div>

</form>