@using Microsoft.AspNetCore.Mvc.TagHelpers


<li class="nav-item">
    <a class="nav-link text-dark"
       asp-area=""
       asp-controller="SignUp"
       asp-action="Index"
    >Sign Up</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark"
       asp-area=""
       asp-controller="SignInByEmail"
       asp-action="Index">Sign In</a>
</li>
