@model PostViewModel

<div class="post">
    <h2>@Model.ViewablePost.Title</h2>
    <h5>Created At: @Model.ViewablePost.CreatedAt </h5>
    <h5>Last Modified At: @Model.ViewablePost.UpdatedAt</h5>
    <p>@Model.ViewablePost.Body</p>
</div>