@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>A simple site where you can add any entries to your blog</p>
    <p>The site is improving, if you have any questions, my contacts are in Privacy</p>
</div>
